@media only screen and (max-width: 1023px) {
  body {
    background: linear-gradient(to bottom, #363636, #252525);
    background-color: #363636;
    color: #ebf5ee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    position: fixed;
  }

  article {
    margin: 0;
    padding: 0;
    background-image: url('../assets/background_d.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    font-size: 220%;
    width: 75%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > img {
      width: 40%;
      height: 40%;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      text-align: center;
      padding-bottom: 15px;
    }

    li img {
      width: 15%;
      height: 15%;
      margin-right: 15px;
      transform: translate(120%, -25%);
      float: left;
    }
  }

  h2 {
    padding-top: 15px;
    margin: 0;
    font-size: 250%;
  }

  aside {
    background: linear-gradient(to top, #3498db, #144261);
    width: 75%;
    border-radius: 25px;
    height: fit-content;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
    align-content: center;

    ul {
      list-style-type: none;
      width: 95%;
    }

    ul:last-child {
      border-radius: 0 0 15px 15px;
    }

    p {
      padding: 2px;
      margin: 0;
    }

    li {
      width: 92.5%;
      display: flex;
      border-top: 1px solid #ebf5ee;
      border-bottom: 1px solid #ebf5ee;
      align-items: center;
      font-size: 250%;
      margin-bottom: 10px;
    }

    li img {
      width: 30%;
      height: 30%;
    }
  }

  section {
    background: linear-gradient(to bottom, #ffdb58, #ffb347, #ff8c00, #ff4500);
    padding: 15px;
    border-radius: 25px;
    font-size: 350%;
    margin-bottom: 10px;

    td,
    th {
      border: 3px solid #ddd;
      padding: 8px;
      text-align: center;
      vertical-align: middle;
      height: fit-content;
    }

    th {
      border-radius: 17px 17px 0 0;
    }

    tr:last-child {
      td:first-child {
        border-radius: 0 0 0 17px;
      }

      td:last-child {
        border-radius: 0 0 17px 0;
      }
    }
  }

  .loading {
    animation: slideIn 2s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
